.message {
  margin-bottom: 6vmin;
  @media (min-width: 576px){
    margin-bottom: 2vmin;
  }
  .time {
    background: rgba(70,70,70,.12);
    color: #a0a0a0;
    border-radius: 1vmin;
    font-size: 1vmin;
    padding: 0vmin 2vmin;
    margin: 0 1vmin 0 1vmin;
    @media (min-width: 576px){
      padding: 0vmin 1vmin;
      margin: 0 0.3vmin 0 0.3vmin;
    }
  }

  .name {
    font-size: 1vmin;
    color: #4f77ab;
    font-weight: 400;
  }
  .content {
    max-width: 50vmin;
    word-wrap: break-word;
    margin-top: 1.7vmin;
    color: #fff;
    text-shadow: 0 0 1px #35406d;
    border-radius: 1.5vmin;
    line-height: 1.2;
    padding: 1.8vmin 2vmin;
    @media (min-width: 576px){
      border-radius: 0.5vmin;
      margin-top: 0.7vmin;
      padding: 0.8vmin 1vmin;

    }
    .image {
      background: #ffffff;
    }
    .opacity {
      filter: opacity(0.4);
    }
    img {
      max-width: 100%;
      min-width: 15vmin;
    }
    .progress {
      left: calc(50% - 60px);
      top: calc(50% - 60px);
    }
  }

  .time-name-conten-wrapper {
    max-width: calc( 100% - 12vmin);
  }

  &.admin .content {
    background: -webkit-gradient(linear,left top,right top,from(#ff7300),to(#e7c11a)); 
    background: linear-gradient(90deg,#ff7300,#e7c11a);
  }

  &.member .content {
    background: linear-gradient(90deg,#199ed8,#02e7e7);
    background: -webkit-gradient(linear,left top,right top,from(#199ed8),to(#02e7e7)); 
  }

  &.system .content {
    background: -webkit-gradient(linear,left top,right top,from(#ab47bc),to(#5169de));
    background: linear-gradient(90deg,#ab47bc,#5169de);
  }

  .triangle {
    margin-top: 7vmin;
    @media (min-width: 576px){
      margin-top: 4vmin;
    }
    width: 0;
    height: 0;
    border-style: solid;
  }

  &.right {
    .triangle {
      margin-right: 2.8vmin;
      @media (min-width: 576px){
        margin-right: 0.8vmin;
      }
    }
  }

  &.left {
    .triangle {
      margin-left: 2.8vmin;
      @media (min-width: 576px){
        margin-left: 0.8vmin;
      }
    }
  }

  &.right.admin {
    .triangle {
      border-width: 2.5vmin 2.5vmin 0 0;

      @media (min-width: 576px){
        border-width: 1vmin 1vmin 0 0;

      }
      border-color: #e7c11a transparent transparent transparent;
    }
  }

  &.left.admin {
    .triangle {
      border-width: 0 2.5vmin 2.5vmin 0;
      @media (min-width: 576px){
        border-width: 0 1vmin 1vmin 0;
      }
      border-color: transparent #ff7300 transparent transparent;
    }
  }

  &.right.member {
    .triangle {
      border-width: 3vmin 3vmin 0 0;

      @media (min-width: 576px){
        border-width: 1vmin 1vmin 0 0;

      }
      border-color: #02e7e7 transparent transparent transparent;
    }
  }

  &.left.member {
    .triangle {
      border-width: 0 3vmin 3vmin 0;
      @media (min-width: 576px){
        border-width: 0 1vmin 1vmin 0;
      }
      border-color: transparent #199ed8 transparent transparent;
    }
  }

  &.right.system {
    .triangle {
      border-width: 3vmin 3vmin 0 0;

      @media (min-width: 576px){
        border-width: 1vmin 1vmin 0 0;

      }
      border-color: #5169de transparent transparent transparent;
    }
  }

  &.left.system {
    .triangle {
      border-width: 0 3vmin 3vmin 0;
      @media (min-width: 576px){
        border-width: 0 1vmin 1vmin 0;
      }
      border-color: transparent #ab47bc transparent transparent;
    }
  }

  .avator {
    margin-top: 0.3vmin;
    height: 10.34vmin;
    width: 10.34vmin;

    @media (min-width: 576px){
      height: 4.34vmin;
      width: 4.34vmin;
    }
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      border-radius: 1.5vmin;
      @media (min-width: 576px){
        border-radius: 0.5vmin;

      }
    }
  }

  &.right {
    .loading-wrapper {
      margin-top: 7.2vmin;
      margin-right: 1vmin;
      @media (min-width: 576px){
        margin-top: 3vmin;
        margin-right: 1vmin;
      }
    }
  }

  &.left {
    .loading-wrapper {
      margin-left: 1vmin;
      margin-top: 3vmin;
    }
  }

  .loading {
    display: inline-block;
    position: relative;
    width: 7vmin;
    height: 7vmin;
    @media (min-width: 576px){
      width: 2.5vmin;
      height: 2.5vmin;
    }
  }
  .loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 7vmin;
    height: 7vmin;
    border: 3px solid rgb(216, 216, 216);
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(216, 216, 216) transparent transparent transparent;
    @media (min-width: 576px){
      width: 2.5vmin;
      height: 2.5vmin;
    }
  }
  .loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ant-progress-status-success .ant-progress-circle-path {
    stroke: #dedede;
  }
  .ant-progress-circle.ant-progress-status-success .ant-progress-text {
    color: #dedede;
  }

  .ant-progress-circle-path {
    stroke: #dedede;
  }

  .ant-progress-circle .ant-progress-text {
    color: #dedede;
  }
}