.control-pannel {
  left: 0;
  right: 0;
  bottom: 0;
  color: #2f62af;

  .plus, .send, .image, .emoji, .red-envelope, .notification {
    font-size: 7vmin;
    @media (min-width: 576px){
      font-size: 4.5vmin;
    }
  }
  .plus-wrapper, .send-wrapper, .emoji-wrapper {
    line-height: 1;
    vertical-align: top;
    cursor: pointer;
    font-size: 3.5vmin;
    @media (min-width: 576px){
      font-size: 1.95vmin;
    }
  }

  .square-pannel {
    width: 12vmin;
    height: 12vmin;
    border-radius: 5px;
    @media (min-width: 576px){
      width: 9vmin;
      height: 9vmin;
    }
  }

  .square-pannel::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .image-wrapper, .red-envelope-wrapper, .notification-wrapper {

    line-height: 1;
    cursor: pointer;
    font-size: 1.95vmin;

  }
  

  

  input.file {
    position: absolute;
    top: 0;
    // left: 0;
    right: 0;
    //bottom: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=0);
    cursor: pointer
  }

  .main-pannel {
    user-select: none;
    height: 10vmin;
    line-height: 10vmin;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(41,53,62,.18);
    @media (min-width: 576px){
      height: 10vmin;
    }

    .textarea-wrapper {
      width: calc( 100% - 19vmin);
      line-height: 1;
      @media (min-width: 576px){
        width: calc( 100% - 20.2vmin);
      }
      textarea{
        max-height: 8vmin;
        overflow: hidden;
        font-size: 1.2rem;
        @media (min-width: 576px){
          //height: 6.5vmin;
        }
      }
    }

  

  
    .preview-image-wrapper {
      background: #EEEEEE;
    }
    .preview-image {
      display: block;
      max-width: 100%;
      max-height: 60vmin;
      width: auto;
      height: auto;
      margin: auto;
      background: #FFFFFF;
    }
  
  
  }
  
  .emoji-mart {
    .emoji-mart-search, .emoji-mart-bar:last-child {
      display: none;
    }
  }
}
