.chatroom {
  .ant-spin-container::after {

    background: #DDDDDD;
  }
  .ant-spin-dot-item {

    background-color: #5a5a5a;
    width: 39px;
    height: 39px;
  }
  .ant-spin {

    color: #5a5a5a;
    font-size: 3vmin;
  }

  .ant-spin-nested-loading > div > .ant-spin .ant-spin-text {

    padding-top: 50px;

  }

  .ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {

    margin: -35px;
  }

  .ant-spin-dot {
    font-size: 18px;

  }
}