.top {
  background: rgb(58, 99, 170);
  height: 5vmin;
  font-size: 3vmin;
  border: 1px solid #0d46a9;
  border-right: 0px solid #0d46a9;
  .left {
    left: 2vmin;
    top:calc(50% - 1.5vmin);
  }
  .gear {
    right: 6vmin;
    top:calc(50% - 1.5vmin);
  }
  .info {
    right: 2vmin;
    top:calc(50% - 1.5vmin);
  }
  span::before {
    content: "";
    height:100%;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}