.top {
  background: rgb(58, 99, 170);
  height: 5vmin;
  font-size: 2.5vmin;
  border-left: 1px solid #0d46a9;
  .left {
    left: 1.5vmin;
    top:calc(50% - 1.5vmin);
    cursor: pointer;
  }
  .gear {
    right: 5.5vmin;
    top:calc(50% - 1.5vmin);
    cursor: pointer;
  }
  .info {
    right: 1.5vmin;
    top:calc(50% - 1.5vmin);
    cursor: pointer;
  }
  span::before {
    content: "";
    height:100%;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}