
WEBPACK_PORT=3001
ANALYZER_PORT=8080



APP_ENV=MASTER
APP_CONTEXT_MENU=0

ADMIN_NAME=切片服务-管理后台
ADMIN_DESCRIPTION='© copyright 2024 超越科技版权所有'
ADMIN_VERSION=220101                
ADMIN_VER=2.1.0                       
ADMIN_STORAGE=true


JWT_AUTHORIZATION=true
JWT_REFRESH=true
JWT_TIME=6000



API_HOST=api.5ee7987.com
API_PROTOCOL='https'
API_SALT='J+THR?4L8P$P6Ykr_Wvg?x8*X5&V*pJ?'



SOCKET_HOST=socket.5ee7987.com                    
SOCKET_STATUS=false                                 


HTTP_HOST=api.5ee7987.com

