
WEBPACK_PORT=3005
ANALYZER_PORT=8080



APP_ENV=MASTER
APP_NAME=影视系管理后台
APP_DESCRIPTION='© copyright 2022 超越科技版权所有'
APP_VERSION=220101                
APP_VER=1.8.5                       
APP_STORAGE=true


JWT_AUTHENTICATOR=true
JWT_REFRESH=true
JWT_TIME=60000



API_HOST=api.500d2a3.com
API_SALT='PmWTE2!=xPC@6jwN'



SOCKET_HOST=socket.500d2a3.com                    
SOCKET_STATUS=false                                 


HTTP_HOST=api.500d2a3.com

STORAGE_HOST=storage.500d2a3.com
