WEBPACK_PORT=3005

APP_NAME=影视系管理后台
APP_DESCRIPTION='© copyright 2021 超级科技版权所有'
APP_VERSION='210904'                                 # 版本号 线上建议不要填写，由脚本执行时间 生成定义
APP_VER='1.7.0'                                      # 版本号 (ex: 1.7.0)

API_HOST=hyperf.66d06a.com                           # API 地址, 请填写协议(默认 react 客户端协议)， 请去除 / (即使加了也会去除)
API_SALT='PmWTE2!=xPC@6jwN'

SOCKET_HOST=socket.66d06a.com                        # SOCKET 地址
SOCKET_STATUS=false                                  # 是否启用 SOCKET 客户端

HTTP_HOST=api.ycdis-test.xyz

STORAGE_HOST=storage.66d06a.com

AES_KEY='Yq3t6w9zKC1F9J4N'
AES_IV='aNdRfUjXn2r5u8x4'