.messages {
  height: calc(100vh - 14.6vmin);
}

@-moz-document url-prefix() {
  .messages {  
    height: calc(100vh - 15.5vmin);
  }
}
@supports (-ms-ime-align:auto) {
  .messages {  
    height: calc(100vh - 15.5vmin);
  }
}