.messages {
  height: calc(100vh - 26vmin);
  @media (min-width: 576px){
    height: calc(100vh - 18vmin);
  }

  &.emoji-picker-on {

    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      height: calc(100vh - 18vmin - 322.3px);
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      height: calc(100vh - 18vmin - 322.3px);
    }

    @media only screen and (min-width: 992px) {
      height: calc(100vh - 18vmin - 322.3px);
    }
  }

  &.plus-picker-on {
    height: calc(100vh - 42vmin);

    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      height: calc(100vh - 31vmin);
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      height: calc(100vh - 31vmin);
    }

    @media only screen and (min-width: 992px) {
      height: calc(100vh - 31vmin);
    }
  }
}



@-moz-document url-prefix() {
  .messages {  
    height: calc(100vh - 13.9vmin);
  }
}
@supports (-ms-ime-align:auto) {
  .messages {  
    height: calc(100vh - 13.4vmin);
  }
}