.messages {
  height: calc(100vh - 25.2vmin);
  @media (min-width: 576px){
    height: calc(100vh - 15vmin);
  }
}



@-moz-document url-prefix() {
  .messages {  
    height: calc(100vh - 13.9vmin);
  }
}
@supports (-ms-ime-align:auto) {
  .messages {  
    height: calc(100vh - 13.4vmin);
  }
}