.none {
  user-select: none;

  @media (max-width: 576px) {
    min-height: calc(100vh - 10vmin);
  }
  min-height: calc(100vh - 8vmin);
  .icon-wrapper {
    top: calc(50% - 18vmin);
    left: calc(50% - 15vmin);
    .icon {
      width: 30vmin;
      height: 30vmin;
      border-radius: 50%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .text {
      max-width: 30vmin;
    }
  }

}