.room {
  background: white;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  padding: 1vmin;
  .icon {
    height: 12vmin;
    width: 12vmin;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    img {
      width: auto;
      height: 100%;
    }
  }
  .name-text, .time-count {
    line-height: 5vmin;
  }
  .name, .text {
    max-width: 14vmin;
  }
  .time-count {
    right: 2vmin;
    top: 2vmin;

  }
}

.room:hover {
  background: rgb(248, 248, 248);
}