.login {

  .middle {
    background: rgb(252, 252, 252);
    // background: rgb(200, 200, 200);
    height: calc(100vh - 5vmin);
    .icon-user, .icon-password {
      font-size: 3vmin;
      color: rgb(47, 98, 175);;
    }
    .username-wrapper, .password-wrapper {
      input {
        width: calc(100% - 3vmin);
        border-style: none;
        border: none;
        background: inherit;
      }
      border-bottom: 1px solid #dcdcdc;
    }
    .ant-divider-horizontal {
      height: 5px;
    }
    .ant-divider {
      background: rgba(141, 189, 232, 0.15);
    }
    .ant-btn-primary {
      background: rgb(98, 152, 214);
    }
  }

}
