<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>管理系统</title> 
  </head> 
  <body> 
    <div id="root"> 

    </div>
    <link rel="preconnect" href="<%= API_PROTOCOL_API_HOST %>"></link>
    <link rel="dns-prefetch" href="<%= API_PROTOCOL_API_HOST %>"></link>
    <link rel="preconnect" href="<%= STORAGE_PROTOCOL_STORAGE_HOST %>"></link>
    <link rel="dns-prefetch" href="<%= STORAGE_PROTOCOL_STORAGE_HOST %>"></link>
    <script type="text/javascript" src="/test.dll.js"></script>
    <script type="text/javascript" src="/admin.dll.js"></script>
  </body>
</html>