body {
	background-color: #FFF;
}

*::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #FFFFFF;
}

*::-webkit-scrollbar {
	width: 0px;
	background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}



* {
	// scrollbar-color: #BBB #F5F5F5;
	// scrollbar-width: none;
	-ms-overflow-style: scrollbar;
}


// NOTE： 這裡使用 全局 css 修改的策略 來改變 外部插件的 樣式， 
// 另外有策略是 統一封裝組件 的策略

.MuiDataGrid-root {
	.MuiDataGrid-columnHeader {
		&:focus {
			outline: none !important;
		}

		&:focus-within {
			outline: none !important;
		}
	}

	.MuiDataGrid-overlay {
		background-color: transparent;
	}

	.MuiDataGrid-cell {
		&:focus {
			outline: none !important;
		}

		&:focus-within {
			outline: none !important;
		}
	}
}

.MuiDataGrid-columnsContainer {
	z-index: 1;
}

.MuiDataGrid-window {
	background: linear-gradient(180deg, #f3f3f3 50%, #ffffff 65%, #ffffff 75%, #f3f3f3 90%);
	overflow-x: hidden !important;
	&::-webkit-scrollbar {
		width: 2px;
	}
}

.MuiDataGrid-row {
	background: #FFFFFF;

	&:hover {
		background: #F2F2F2;
	}
}

input[type='checkbox']+.MuiSvgIcon-root {
	font-size: 1rem;
}

.MuiTooltip-tooltip {
	background-color: rgba(42, 42, 42, 0.85) !important;
}

.MuiTooltip-arrow {
	color: rgba(42, 42, 42, 0.85) !important;
}