.scroll-button {
  right: 3vmin;
  bottom: 3vmin;
  height: 10vmin;
  width: 10vmin;
  border-radius: 2vmin;

  @media (min-width: 576px){
    right: 3vmin;
    bottom: 3vmin;
    height: 5vmin;
    width: 5vmin;
    border-radius: 1vmin;
  }

  border: 1px solid hsla(0,0%,80%,.575);
  text-align: center;
  background: rgba(51,51,51,.315);
  z-index: 10001;
  cursor: pointer;
  .down {
    color: #ffffff;
    font-size: 6vmin;
    line-height: 10vmin;
    @media (min-width: 576px){
      font-size: 3vmin;
      line-height: 5vmin;
    }
  }
}