.top {
  .rooms & {
    user-select: none;
    background: rgb(58, 99, 170);
    height: 16vmin;
    @media (min-width: 576px){
      height: 8vmin;
    }
    font-size: 2.5vmin;
    span::before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
    .title {
      cursor: default;
    }
  }

}