.detail {
  background-color: #ffffff;
  height: calc(100vh - 5vmin);
  .info-wrapper {
    
  }
  .info {
    font-size: 20vmin;
    margin-bottom: -5vmin;
    color: #e2e2e2;
  }
  .description {
    color: #e2e2e2;

  }
}